
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}








.tabs {
  position: relative;
  min-height: 200px;
  margin: 25px 0;
}

.tab {
  float: left;
}

.tab label {
  background: #eee;
  padding: inherit;
  border: 1px solid #ccc;
  position: relative;
  left: 1px;
  font-size: 18px;
}

.tab [type=radio] {
  display: none;
}

.content {
  position: absolute;
  top: 34px;
  min-height: 0px;
  right: 0px;
  left: 0px;
  display: none;
}

.content2 {
  position: absolute;
  top: 690px;
  min-height: 0px;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
    display: block;
}

.col-sm-6 {
    display: none;
}
.col-sm-10 {
    display: none;
}


.btn-content {
    display: none;
}


.loader {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(153, 153, 153, 0.7);
    z-index:9999;
}

.loader::after {
    content:'';
    display: block;
    position:absolute;
    left:48%;top:40%;
    width:50px;height:50px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:100%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#DataDisplay {
    z-index: 1;
}
